package httpd

import (
	"github.com/gin-gonic/gin"
	swaggerFiles "github.com/swaggo/files"
	ginSwagger "github.com/swaggo/gin-swagger"
	_ "{{.ModuleName}}/docs"
	"{{.ModuleName}}/internal/entrypoints/httpd/router"
)

// @BasePath /
// @title {{.RepoName}} API docs
// @version v0.0.1
// @description {{.RepoName}} API docs
func NewHTTPServer(
	healthRouter *router.HealthRouter,
) *gin.Engine {
	ginDefault := gin.Default()
	healthRouter.RegisterRoutes(ginDefault.Group("/health"))
	ginDefault.GET("/swagger/*any", ginSwagger.WrapHandler(swaggerFiles.Handler))
	return ginDefault
}
