package httpd

import (
	"context"

	"github.com/gin-gonic/gin"
	"github.com/zeroxsolutions/barbatos/app"
	"{{.ModuleName}}/internal/adapter"
	"{{.ModuleName}}/internal/config"
)

type App struct {
	appConfig *config.App
	srv       *gin.Engine
	otel      *adapter.OTEL
}

func (app *App) Run() error {
	if app.appConfig.OTEL.Enabled {
		ctx := context.Background()
		if err := app.otel.Start(ctx); err != nil {
			return err
		}
	}
	return app.srv.Run(app.appConfig.Server.Addr)
}

func (app *App) Shutdown() error {
	if app.appConfig.OTEL.Enabled {
		return app.otel.Stop()
	}
	return nil
}

func NewApp(
	srv *gin.Engine,
	appConfig *config.App,
	otel *adapter.OTEL,
) app.App {
	return &App{
		appConfig: appConfig,
		srv:       srv,
		otel:      otel,
	}
}
