package cmd

import (
	"os"

	"github.com/spf13/cobra"
)

var (
	rootCmd cobra.Command = cobra.Command{
		Use:   "{{.RepoName}}",
		Short: "{{.RepoName}}",
		Long:  "{{.RepoName}}",
	}
	runCmd cobra.Command = cobra.Command{
		Use:   "run",
		Short: "run",
		Long:  "run",
	}
)

func Execute() {
	if err := rootCmd.Execute(); err != nil {
		os.Exit(1)
	}
}


func init() {
	rootCmd.Version = Version
	rootCmd.Root().CompletionOptions.DisableDefaultCmd = true

	for _, cmd := range []*cobra.Command{&runCmd} {
		rootCmd.AddCommand(cmd)
	}
}