package adapters

import (
	"github.com/zeroxsolutions/sazabi"
	"gorm.io/driver/mysql"
	"gorm.io/gorm"
	"{{.ModuleName}}/internal/config"
)

func NewDB(appConfig *config.App) (*gorm.DB, error) {
	db, err := gorm.Open(mysql.Open(appConfig.Database.URI), &gorm.Config{})
	if err != nil {
		sazabi.Fatalf("connect DB err %v", err)
	}
	return db, nil
}
