package router

import (
	"github.com/gin-gonic/gin"
	"{{.ModuleName}}/internal/entrypoints/httpd/controller"
)

type HealthRouter struct {
	HealthController *controller.HealthController
}

func (healthRouter *HealthRouter) RegisterRoutes(router *gin.RouterGroup) {
	router.GET("/", healthRouter.HealthController.Health)
}

func NewHealthRouter(healthController *controller.HealthController) *HealthRouter {
	return &HealthRouter{HealthController: healthController}
}
