//go:build wireinject
// +build wireinject

package cmd

import (
	"{{.ModuleName}}/internal/adapter"
	"github.com/google/wire"
	"github.com/zeroxsolutions/barbatos/app"
	"{{.ModuleName}}/internal/config"
	"{{.ModuleName}}/internal/entrypoint/httpd"
	"{{.ModuleName}}/internal/entrypoint/httpd/controller"
	"{{.ModuleName}}/internal/entrypoint/httpd/router"
)

func initHTTPDApplication(
	appConfig *config.App,
) (app.App, error) {
	wire.Build(
		controller.ProviderSetController,
		router.ProviderSetRouter,
		httpd.ProviderSetHTTPServer,
		adapter.NewLogger,
		adapter.NewOTEL,
		adapter.NewDB,
		httpd.NewApp,
	)
	return nil, nil
}
