package router

import (
	"{{.ModuleName}}/internal/entrypoint/httpd/controller"
	"github.com/gin-gonic/gin"
)

type ReadyRouter struct {
	ReadyController *controller.ReadyController
}

func (readyRouter *ReadyRouter) RegisterRoutes(router *gin.RouterGroup) {
	router.GET("", readyRouter.ReadyController.Ready)
}

func NewReadyRouter(readyController *controller.ReadyController) *ReadyRouter {
	return &ReadyRouter{ReadyController: readyController}
}
